<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.SharedInterfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.PubSubEvents" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>

    <add key="SpecifyAlbumPictureUrl" value=""/>
    <add key="ColorFunctions.CoverColorDiff" value="0.05"/>
    <add key="ColorFunctions.ReviseParameter" value="0.1"/>
    <add key="ColorFunctions.RightSideWidth" value="0.1"/>
    <add key="ColorFunctions.TooDark" value="0.15"/>
    <add key="ColorFunctions.TooBright" value="0.4"/>
    <add key="ColorFunctions.HueOffset" value="10"/>
    <add key="ColorFunctions.ProgressBarReviseParameter" value="0.2"/>
    <add key="ColorFunctions.NotSaturateEnough" value="0.4"/>
    <add key="ColorFunctions.AlmostZeroSaturation" value="0.001"/>
    <add key="ColorFunctions.EnableColorWeight" value="true"/>
    <add key="ColorFunctions.FaceColor" value="#FFCDA38F"/>
    <add key="ColorFunctions.ZeroWeightFaceColorDifference" value="0.03"/>
    <add key="ColorFunctions.MinWeight" value="0.2"/>



    <!-- DoubanFM.Bass -->
    <add key="Bass.SampleFrequency" value="44100" />
    <add key="Bass.LibraryPathX86" value="x86" />
    <add key="Bass.LibraryPathX64" value="x64" />
    <add key="Bass.PluginPathFormat" value="{0}\plugins" />
    <add key="Bass.OpenFileConfig" value="BASS_DEFAULT" />
    <add key="Bass.OpenUrlConfig" value="BASS_DEFAULT" />
    <add key="Bass.InitFlags" value="BASS_DEVICE_DEFAULT" />
    <add key="Bass.SetConfigOnInitialization" value="BASS_CONFIG_NET_TIMEOUT 15000|BASS_CONFIG_DEV_DEFAULT true" />
    <add key="Bass.MaxFFT" value="BASS_DATA_AVAILABLE, BASS_DATA_FFT4096" />
    <add key="Bass.GetFFTFrequencyIndexLength" value="4096" />
    <add key="Bass.ChannelPositionRefreshRate" value="0.05" />
  </appSettings>
</configuration>